/EntryPoint.class
/Bug.class
/Butterfly.class
/Worm.class
/Cicada.class
/World.class
/Plant.class
/Obstacle.class
/Herbivore.class
/Carnivore.class
/Food.class
/Meat.class
/BugCompare.class
/CompareBugEnergy.class
/CompareBugSpecies.class
/Graphics.class
/Item.class
